{% extends "base.html.twig" %}

{% block body %}

    <section class="mt-4 container col-md-2">

    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Créer un compte</button>
    {{ form_end(form) }}

    </section>
{% endblock %}
